<html>
    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 300%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    <p class="p1">ERROR 404, NOT FOUND</p>
  
    <p class="aligncenter">
        <img src="https://www.prestashop.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" alt="centered image" />
    </p>
    
 
    

</html>