<html>
    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 200%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    <br>
    <br>
  
    <p class="aligncenter">
        <img src="https://static.vecteezy.com/system/resources/previews/002/286/046/original/cute-cartoon-smiling-healthy-heart-character-happy-emoji-emotion-and-hand-holding-stethoscope-check-rate-funny-circulatory-organ-cardiology-eps-illustration-vector.jpg" alt="centered image" width="500" height="400"  />
    </p>
    
    <p class="p1"> OK , THATS FINE !! </p>
    <p class="p1"> I AM BREATHING  </p>
    
    
    




</html>