<html>
    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 200%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    <br>
    <br>
  
    <p class="aligncenter">
        <img src="/images/xxx.jpg" alt="centered image" width="400" height="380"  />
    </p>
    
    <p class="p1"> OK , THATS FINE !! </p>
    <p class="p1"> I AM BREATHING  </p>
    
    
    




</html>