<html>
    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 300%;
         }
         .p2 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 200%;
         }
         .p3 {
            font-weight: 900 ;
            font-size: 100%;
         }
         .p4 {
            font-weight: 900 ;
            font-size: 100%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    <p class="p1">Hellow there !!  </p>
    <p class="p2">Welcome to my webserver that handles calculation of image statistics .</p>
  
    <p class="aligncenter">
        <img src="/images/xxx.jpg" alt="centered image" width="500" height="380" />
    </p>

    <p class="p3">Here is the statics that we support :</p>
    <p class="p4">             max,min,mean,median,pXXX (XXX is a percentile between 0...100) </p>


   
</html>