<html>
    <head>
        <style>
        .p1 {
            font-weight: 500 ;
            text-align : center ;
            font-size: 300%;
            
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    
  
    <p class="aligncenter">
        <img src="/images/xxx.jpg" alt="centered image" width="350" height="380"  />
    </p>
    
 
    <p class="p1">SORRY!! The image doesn't exists on my webpage.</p>
    <p class="p1">Please try another image.</p>
    
    




</html>